  /* bullet points */

/* ---------------------
li::marker {
  content: "• ";
  color: #EFBE43;
}
 * ----------------------*/
 
:root {
  /* slightly bigger Fonts */
  --base-font-size: 22px;
}

/* Extra CSS */
.big {
  font-size: 150%;
  line-height: 2em;
}

/* three column layout */
.pull-l {
  width: 30%;
  position: absolute;
  left: 5%;
}
.pull-m {
  width: 30%;
  position: absolute;
  left: 37%;
}
.pull-r {
  width: 30%;
  position: absolute;
  left: 65%;
}
