  /* bullet points */

/* ---------------------
li::marker {
  content: "• ";
  color: #EFBE43;
}
 * ----------------------*/
 
:root {
  /* slightly bigger Fonts */
  --base-font-size: 22px;
}

/* Extra CSS */
.big {
  font-size: 150%;
  line-height: 2em;
}

/* three column layout */
.pull-l {
  width: 30%;
  position: absolute;
  left: 5%;
}
.pull-m {
  width: 30%;
  position: absolute;
  left: 37%;
}
.pull-r {
  width: 30%;
  position: absolute;
  left: 65%;
}

/* New two column layout */
.left-col {
  width: 33%;
  height: 92%;
  float: left;
}

.left-col h2, .left-col h3 {
  color: #EFBE43;
}

.right-col {
  width: 62%;
  float: right;
}

/* New two column layout1 */
.left-co {
  width: 30%;
  height: 92%;
  float: left;
}

.left-co h2, .left-co h3 {
  color: #EFBE43;
}

.right-co {
  width: 66%;
  float: right;
}