  /* bullet points */

/* ---------------------
li::marker {
  content: "• ";
  color: #EFBE43;
}
 * ----------------------*/
 
:root {
  /* slightly bigger Fonts */
  --base-font-size: 22px;
}

/* Extra CSS */
.big {
  font-size: 150%;
  line-height: 2em;
}

