/*-- scss:defaults --*/

$light-yellow: #FFFBF1;
$mid-yellow: #EFBE43;
$orange: #FF4800;
$light-green: #f3f3ee;
$mid-green:#2f4c3f;
$black: #333333;

$body-bg: $light-green;
$body-color: #333333;
$link-color: $mid-green; /*#FF8622*/
$presentation-heading-color: $mid-green;
$code-color: #EFBE43;
$code-block-bg: #FFF1E5;
$code-block-border-color: #ffffff00; /*#454545*/
$link-color-hover: lighten($link-color, 25%);

/*-- fonts --*/

@import url('https://fonts.googleapis.com/css2?family=Petrona&display=swap');

/*$font-family-sans-serif: "Petrona", sans-serif !default;*/
$presentation-heading-font: "Petrona", sans-serif !default;
$presentation-heading-text-transform: none !default;
$presentation-title-slide-text-align:	left;
$presentation-heading-font-weight: 500;
$presentation-heading-line-height: 1.15;
$presentation-h1-font-size:	2.3em;
$presentation-heading-letter-spacing: 0.005em;

/*-- scss:rules --*/

.reveal .slide-number {
  color: $link-color;
}

.reveal .footer {
  font-size: 0.35em !important;
  text-align: center !important;
}

.reveal .slides section .fragment.semi-fade-out {
	opacity: 1;
	visibility: inherit;

	&.visible {
		opacity: 0.25;
		visibility: inherit;
	}
}

.reveal .slide blockquote {
  border-left: 5px solid $text-muted;
  padding-left: 0.5em;
  background-color: #ffffff;
  font-family: $presentation-heading-font;
  
}

.sectionhead {
  font-size: 1em;
  text-align: center;
  color: $presentation-heading-color;
  font-family: $presentation-heading-font;
  background-color: $body-bg;
  margin: 1px;
  padding: 2px 2px 2px 2px;
  width: 180px;
  border-left: 10px solid;
}

.blackbox {
  color: #000000;
  background-color: transparent;
  margin: 1px;
  padding: 5px 2px 5px 2px;
  height: 205px;
  border: 2px solid;
}

.yehighlight{
  color:#EFBE43;
}

.orhighlight{
  color:#FF4800;
}

.grhighlight{
  color:$mid-green;
  font-weight: bold
}

.reveal .slide figure figcaption {
    text-align: center;
    font-size: 0.5em;
    
}